<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>facebook-id</key>
	<string>100000410630735</string>
	<key>name</key>
	<string>Nattawut Singhchai</string>
	<key>position</key>
	<string>iOS Developer at Infostant</string>
	<key>data</key>
	<array>
		<dict>
			<key>title</key>
			<string>Summary</string>
			<key>details</key>
			<string>I am a senior iOS engineer who is originally from Thailand. I have been familiar with computer languages for more than 10 years and specifically for iOS architecture for more than 4 years, and also have involved and led the teams to produce the iOS apps more than 10 apps. Besides iOS stuff, I am also used to some of backend stuff.  I have been working for freelance and for the agency. I am now avialable for full time and freelance opportunities.</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Skills</string>
			<key>details</key>
			<string>iOS Development, Swift, Objective-C, Cocoa, JavaScript, Git, Node.js, C</string>
			<key>chart</key>
			<dict>
				<key>iOS Development</key>
				<integer>8</integer>
				<key>Swift</key>
				<integer>9</integer>
				<key>Objective C</key>
				<integer>7</integer>
				<key>Cocoa</key>
				<integer>5</integer>
				<key>JavaScript</key>
				<integer>5</integer>
				<key>Git</key>
				<integer>7</integer>
				<key>Node.js</key>
				<integer>5</integer>
				<key>C</key>
				<integer>5</integer>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>Experience</string>
			<key>details</key>
			<string>· Senior iOS Developer at Infostant (2015)
· Programmer at Infostant (2012)
· Freelancer (2012)</string>
		</dict>
	</array>
</dict>
</plist>
